---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contacto">
  <h1>Contacto</h1>
  <p>Puedes comunicarte conmigo desde aquí.</p>
  <div class="flex justify-center">
      <img 
      class="h-[400px] w-auto"
        src="assets/tomioka.jpg"
        alt="Tomioka"
      />
    </div>
</BaseLayout>

