---
const links = [
  { href: '/', text: 'Inicio' },
  { href: '/about', text: 'Acerca de' },
  { href: '/contact', text: 'Contacto' },
];
---

<header>
  <nav>
    {links.map(link => (
      <a href={link.href}>{link.text}</a>
    ))}
  </nav>
</header>
