---
const links = [
  { href: '/', text: 'Inicio' },
  { href: '/about', text: 'Acerca de' },
  { href: '/contact', text: 'Contacto' },
];
---

<header class="bg-[#333] text-white p-[1rem]">
  <nav>
    {links.map(link => (
      <a class="decoration-none mr-[1rem] text-white hover:text-blue-300" href={link.href}>{link.text}</a>
    ))}
  </nav>
</header>
