---
import "../styles/global.css";
import Header from "../components/Header.astro";
const { title = "Mi sitio Astro" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>
  <body class="bg-pink-950 m-0 p-0 ">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
